<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2">
          Edit Category
        </h2>

        <%= render 'form', category: @category %>
        <br>
        <%= link_to 'Delete category', category_path, class: "button is-danger", method: :delete, data: { confirm: 'Are you sure?'} %>
      </div>
    </div>
  </div>
</section>
